<div class="container">
    <h1>Detalle de {{title}}</h1>

    <hr>

    <p>Descripción: {{description}}</p>
    <p>Autor/a: {{author}}</p>
    <p>Rating: {{rating}}</p>

    <hr>

    <a class="btn btn-dark" href="/libros/listado">volver al listado</a>

</div>